{% extends "accounts.html" %} {% block content-accounts %}
<div class="">
  <h2 align="center">Change password</h2>
</div>
{% if messages %} {% for message in messages %}
{% if message.tags == 'error' %}
<div class="alert alert-danger {{message.tags}} ">
  <strong>Error!  </strong> {{message}}
</div>
{% endif%}
{% endfor %} {% endif %}
<div class="">
  <form  method="post">
    {%csrf_token%}
    {{form.as_table}}
    <!-- <div class="form-group">
      <label for="old_password">Mật khẩu cũ</label>
      <input type="password" name="old_password" class="form-control"  aria-describedby="old_passwordHelp" placeholder="Mật khẩu cũ">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Mật khẩu mới</label>
      <input type="password" name="new_password" class="form-control"  aria-describedby="emailHelp" placeholder="Mật khẩu mới">
      <small id="emailHelp" class="form-text text-muted">Mật khẩu phải từ 8 - 200 kí tự.</small>
      <small id="emailHelp" class="form-text text-muted">Mật khẩu phải chứa ít nhất 1 kí tự.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Xác nhận lại mật khẩu mới</label>
      <input type="password" name="re_new_password" class="form-control"  aria-describedby="emailHelp" placeholder="Xác nhận lại mật khẩu mới">
    </div> -->
    <button class="btn btn-primary m-t-20" type="submit" name="button">Save</button>
  </form>
</div>

{% endblock %}
