{% extends "accounts.html" %} {% block content-accounts %}
<div class="row">
  <div class="col-md-3">
    {% if userprofile.avatar %}
    <a href="{% url 'editAvatar' %}">
    <img src="{{userprofile.avatar.url}}" class="thumbnail img-circle" alt="Cinque Terre" width="150" height="120" alt="">
  </a>
    {% else %}
    <a href="{% url 'editAvatar' %}">
      <img src="{{BASE_URL}}media/accounts/default.png" class="thumbnail img-circle" alt="Cinque Terre" width="150" height="120" alt="">
    </a>
    {% endif %}
    <form class="" method="post" enctype="multipart/form-data">
      {%csrf_token%}
      {{form}}
      <button type="submit" name="button" class="btn btn-primary m-t-10">Sửa avatar</button>
    </form>
  </div>
  <div class="col-md-9">
    <div id="inforProfile">
      <table class="table table-striped">
        <tbody>
          <tr>
            <td>Tên:</td>
            <td>{{user.get_full_name}}</td>
          </tr>
          <tr>
            <td>Địa chỉ:</td>
            <td>{{userprofile.address}}</td>
          </tr>
          <tr>
            <td>Ngày sinh:</td>
            <td>{{userprofile.get_birth_day}}</td>
          </tr>
          <tr>
            <td>Giới tính:</td>
            <td>{{userprofile.gender}}</td>
          </tr>
          <tr>
            <td>Số điện thoại:</td>
            <td>{{userprofile.phone}}</td>
          </tr>
          <tr>
            <td>Email:</td>
            <td>{{user.email}}</td>
          </tr>
        </tbody>
      </table>
      <!-- <button onclick="window.location='{% url 'editProfile' %}'" class="btn btn-primary" type="submit">Chỉnh sửa</button> -->
    </div>
{% endblock %}
