{% extends "pages/base.html" %} {% block content-block %}

<!-- Title page -->
<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('{{BASE_URL}}media/icons/bg-01.jpg');">
  <h2 class="ltext-105 cl0 txt-center">
     Signup
  </h2>
</section>

<!-- Content page -->
<section class="bg0 p-t-20 p-b-120">
  <div class="container">
    <div class="row p-b-148">
      <div class="col-md-7 col-lg-8">
        <div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
          <form method="POST" >
            {% csrf_token %}
            {{form.as_table }}
            <!-- <div class="form-group">
              <label for="username">Tên đăng nhập:</label>
              <span class="text-danger">{{form.username.errors}}</span>
              {{form.username}}
            </div>
            <div class="form-group">
              <label for="email">Email:</label>
              <span class="text-danger">{{form.email.errors}}</span>
              {{form.email}}
            </div>
            <div class="form-group">
              <label for="password">Mật khẩu</label>
              <span class="text-danger">{{form.password1.errors}}</span>
              {{form.password1}}
            </div>
            <div class="form-group">
              <label for="repassword">Xác nhận mật khẩu</label>
              <span class="text-danger">{{form.password2.errors}}</span>
              {{form.password2}}
            </div> -->
            <button type="submit" class="m-t-10 btn btn-primary">Signup</button>
          </form>
        </div>
      </div>

      <div class="col-11 col-md-5 col-lg-4 m-lr-auto">
        <div class="how-bor1 ">
          <div class="hov-img0">
            <img src="{{BASE_URL}}media/icons/about-01.jpg" alt="IMG">
          </div>
        </div>
      </div>
    </div>
  </div>

  </div>
</section>
{% endblock %}
