.login button {
  color: #fff;
  margin-right: 10px;
  border-right: 1px solid;
  padding-right: 10px
}

.signup button {
  color: #fff;
}

.user-info {
  color: #fff;
}

.logout {
  color: #ccc !important;
}

.error {
  margin-top: 20px;
}

.funkyradio-primary {
  margin-right: 10px;
}

.funkyradio label {
  /*min-width: 400px;*/
  width: 100%;
  border-radius: 3px;
  border: 1px solid #D1D3D4;
  font-weight: normal;
}

.funkyradio input[type="radio"]:empty, .funkyradio input[type="checkbox"]:empty {
  display: none;
}

.funkyradio input[type="radio"]:empty~label, .funkyradio input[type="checkbox"]:empty~label {
  position: relative;
  line-height: 2.5em;
  text-indent: 3.25em;
  padding-right: 10px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.funkyradio input[type="radio"]:empty~label:before, .funkyradio input[type="checkbox"]:empty~label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2.5em;
  background: #D1D3D4;
  border-radius: 3px 0 0 3px;
}

.funkyradio input[type="radio"]:hover:not(:checked)~label:before, .funkyradio input[type="checkbox"]:hover:not(:checked)~label:before {
  content: '\2714';
  text-indent: .9em;
  color: #C2C2C2;
}

.funkyradio input[type="radio"]:hover:not(:checked)~label, .funkyradio input[type="checkbox"]:hover:not(:checked)~label {
  color: #888;
}

.funkyradio input[type="radio"]:checked~label:before, .funkyradio input[type="checkbox"]:checked~label:before {
  content: '\2714';
  text-indent: .9em;
  color: #333;
  background-color: #ccc;
}

.funkyradio input[type="radio"]:checked~label, .funkyradio input[type="checkbox"]:checked~label {
  color: #777;
}

.funkyradio input[type="radio"]:focus~label:before, .funkyradio input[type="checkbox"]:focus~label:before {
  box-shadow: 0 0 0 3px #999;
}

.funkyradio-default input[type="radio"]:checked~label:before, .funkyradio-default input[type="checkbox"]:checked~label:before {
  color: #333;
  background-color: #ccc;
}

.funkyradio-primary input[type="radio"]:checked~label:before, .funkyradio-primary input[type="checkbox"]:checked~label:before {
  color: #fff;
  background-color: #337ab7;
}

.funkyradio-success input[type="radio"]:checked~label:before, .funkyradio-success input[type="checkbox"]:checked~label:before {
  color: #fff;
  background-color: #5cb85c;
}

.funkyradio-danger input[type="radio"]:checked~label:before, .funkyradio-danger input[type="checkbox"]:checked~label:before {
  color: #fff;
  background-color: #d9534f;
}

.funkyradio-warning input[type="radio"]:checked~label:before, .funkyradio-warning input[type="checkbox"]:checked~label:before {
  color: #fff;
  background-color: #f0ad4e;
}

.funkyradio-info input[type="radio"]:checked~label:before, .funkyradio-info input[type="checkbox"]:checked~label:before {
  color: #fff;
  background-color: #5bc0de;
}

.gallery {}

.gallery .previews, .gallery .full, .gallery .desc {
  float: left;
  margin-right: 10px;
}

.gallery .desc, .gallery .full {
  width: 400px;
  font-size: 12px;
}

.gallery .desc h2 {
  margin-top: 0;
}

.gallery .previews a {
  display: block;
  margin-bottom: 10px;
}

.gallery .full, .gallery .full img {
  max-height: 600px;
}

.gallery .previews a, .gallery .full {
  border: 4px solid #eee;
}

.gallery .previews a:hover, .gallery .previews a.selected {
  border: 4px solid #777;
}

.gallery .full img:hover {
  cursor: pointer;
}

.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.previews img {
  width: 100%;
}

.fancybox-opened {
  z-index: 9030 !important;
}

.wrap-modal1 {
  z-index: 2000 !important
}

.tab-profile ul li {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.tab-profile ul li a {
  color: #333;
}

.errorlist {
  color: red;
}
.dialog-cart{
  position: fixed;
    right: 20px;
    margin: auto;
    width: 320px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
    top: 70px;
    min-width: 360px;
}
#cart_detail{
  max-height: 450px;
  overflow-y: auto;

}
.dis-none-impor{
  display: none !important;
}
.header_order{
    background: #eee;
    height: 30px;
    padding-top: 5px;
}
@media only screen and (max-width: 1200px) {
  .funkyradio-primary{
    font-size: 12px;
  }
}
